@use '../../../styles/color';
@use '../../../styles/layout';
@use '../../../styles/animation';

:host {
    position: absolute;
    bottom: 80px;
    left: 0;
    z-index: 10;
    @extend .fade-in;
}

.content {
    @extend .dF-jc-flex-start;
    width: 540px;
    height: 80px;
    background-color: color.$main-color;
    border-radius: 20px;
    padding-right: 32px;
}

.rectangle {
    width: 22px;
    height: 100%;
    border-radius: 20px 0 0 20px;
}

.red {
    background-color: color.$error-red;
}

.green {
    background-color: color.$ok-green;
}

.inner-content {
    @extend .dF-jc-flex-start;
    flex: 1;
    gap: 16px;
    margin-left: 10px;

    > p {
        flex: 1;
    }
}

.separator {
    width: 1px;
    height: 32px;
    background-color: white;
}

.icon-ok {
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 50%;
    padding: 4px;
}

.icon-close {
    cursor: pointer;
}

// ---------- Responsive Design ---------- //
@media (max-height: 768px) {
    .content {
        width: unset;
        max-width: 500px;
    }
}

@media (max-width: 550px) {
    :host {
        bottom: 0;
        display: flex;
        align-items: flex-end;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        animation-name: flyUp;
        animation-duration: 200ms;
        animation-timing-function: ease-out;
    }
    
    .content {
        flex-direction: column;
        border-radius: 20px 20px 0 0;
        padding: 0;
        width: 100%;
        height: 200px;
    }

    .rectangle {
        width: 100%;
        height: 18px;
        border-radius: 20px 20px 0 0;
    }

    .inner-content {
        margin-left: 0;
        width: 100%;
        padding: 0 16px;
        justify-content: center;

        > p {
            flex: unset;
        }
    }

    .separator {
        display: none;
    }
}