<app-header></app-header>

<form (ngSubmit)="onSubmit(forgotPasswordForm)" #forgotPasswordForm="ngForm" class="form">
    <h2>Forgot your password?</h2>
    <p class="text">We will send you an e-mail with instructions to reset your password.</p>
    <div class="input-style-sec">
        <input #email="ngModel" type="email" name="email" placeholder="E-mail address" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required ngModel>
    </div>
    <input [disabled]="email.invalid" class="btn-prim" type="submit" name="submit" value="Send E-mail">
</form>

@if (toastMsgService.toastState() != 'unset') {
    <app-toast-msg></app-toast-msg>
}

<app-footer></app-footer>
