@use '../../../styles/layout';
@use '../../../styles/color';
@use '../../../styles/helper';
@use '../../../styles/typography';

:host {
    @extend .dF-row-cc;
    height: 100vh;
    height: 100svh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.8)), url('../../../../public/img/background_1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.content {
    @extend .dF-column-cc;
    background-color: white;
    border-radius: 48px;
    padding: 43px 56px;
    width: 520px;
}

h2 {
    color: color.$main-color;
    text-align: center;
}

.text {
    @extend .font-style-3;
    color: black;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 16px;
}

.btn-prim {
    margin-top: 32px;
}