@use '../../../styles/layout';
@use '../../../styles/color';
@use '../../../styles/typography';

:host {
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 2;
    @extend .dF-row-cc;
}

.content {
    @extend .dF-jc-space-between;
    max-width: 1920px;
    width: 100%;
}

.arrow-back:hover {
    cursor: pointer;
    
    path {
        transition: all 150ms ease-in-out;
        fill: color.$logo-purple
    }
}

.logout {
    @extend .dF-row-cc;
    gap: 4px;

    > span {
        @extend .font-style-5;
    }
}

.icon-back {
    height: 24px;
    width: 24px;
}

.logo-mobile {
    display: none;
    height: 32px;
}

// ---------- Responsive Design ---------- //
@media (max-width: 1952px) {
    .content {
        padding: 0 16px;
        max-width: unset;
    }
}

@media (max-width: 700px) {
    .logo-text {
        display: none;
    }
    
    .logo-mobile {
        display: block;
    }
}

@media (max-height: 1000px) and (min-width: 1025px) {
    :host {
        top: 10px;
    }
}