.fade-in {
    animation-name: fadeIn;
    animation-duration: 250ms;
    animation-timing-function: ease-out;
}

@keyframes fadeIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}