$main-color: #2E3EDF;
$error-red: #FF002E;
$ok-green: #11d300;
$logo-purple: #8903FF;
$logo-blue: #3547FF;
$click-blue: #0012c5;
$disabled-blue: #2E3EDF80;
$background-black: #141414;
$video-progressbar-track: #B5B5B5;
$video-progressbar-loaded: #ECECEC;
