@use 'color';
@use 'typography';

.btn {
    padding: 12px 24px;
    border-radius: 40px;
    border: unset;
    @extend .font-style-5;
}

.btn-prim {
    @extend .btn;
    background-color: color.$main-color;
    transition: background-color 200ms ease-in-out;

    &:hover {
        background-color: color.$logo-purple;
        cursor: pointer;
    }

    &:active {
        background-color: color.$click-blue;
        transition: unset;
    }

    &:disabled {
        background-color: color.$disabled-blue;
        cursor: unset;
    }
}

.btn-sec {
    @extend .btn;
    background-color: color.$main-color;
    opacity: 0.5;
}

.btn-ter {
    @extend .btn;
    background-color: white;
    color: color.$main-color;
}

.input-style-prim {
    border: 1px solid white;
    background-color: unset;
    border-radius: 40px;
    padding: 12px 24px;
    outline: unset;
    width: 360px;
    @extend .font-style-3;

    &::placeholder {
        @extend .font-style-3;
        color: white;
    }
}

.input-style-sec {
    border: 1px solid color.$main-color;
    background-color: white;
    border-radius: 12px;
    padding: 12px 24px;
    @extend .font-style-3;
    color: color.$main-color;
}