@use 'color';
@use 'typography';
@use 'layout';

.host {
    @extend .dF-row-cc;
    height: 100vh;
    height: 100svh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.form {
    @extend .dF-column-cc;
    background-color: white;
    border-radius: 48px;
    padding: 43px 56px;
    width: 520px;
}

.btn {
    padding: 12px 24px;
    border-radius: 40px;
    border: unset;
    @extend .font-style-5;
}

.btn-prim {
    @extend .btn;
    background-color: color.$main-color;
    transition: background-color 150ms ease-in-out;

    &:hover {
        background-color: color.$logo-purple;
        cursor: pointer;
    }

    &:active {
        background-color: color.$click-blue;
        transition: unset;
    }

    &:disabled {
        background-color: color.$disabled-blue;
        cursor: unset;
    }
}

.btn-sec {
    @extend .btn;
    background-color: color.$main-color;
    opacity: 0.5;
}

.btn-ter {
    @extend .btn;
    background-color: white;
    color: color.$main-color;
}

.input-style-prim {
    border: 1px solid white;
    background-color: unset;
    border-radius: 40px;
    padding: 12px 24px;
    outline: unset;
    width: 360px;
    @extend .font-style-3;

    &::placeholder {
        @extend .font-style-3;
        color: white;
    }
}

.input-style-sec {
    width: 100%;
    border: 1px solid color.$main-color;
    background-color: white;
    border-radius: 12px;
    padding: 12px 24px;
    color: color.$main-color;
    @extend .dF-row-cc;

    > input {
        @extend .font-style-3;
        color: color.$main-color;
        border: unset;
        outline: unset;
        flex: 1;

        &::placeholder {
            @extend .font-style-3;
            color: color.$main-color;
        }
    }
}

.password-container {
    gap: 16px;

    > img {
        cursor: pointer;
    }
}

// ---------- Responsive Design ---------- //
@media (max-width: 700px) {
    .input-style-prim {
        font-size: 16px;
        line-height: 20.83px;

        &::placeholder {
            font-size: 16px;
            line-height: 20.83px;
        }
    }

    .input-style-sec {
        > input {
            font-size: 16px;
            line-height: 20.83px;
    
            &::placeholder {
                font-size: 16px;
                line-height: 20.83px;
            }
        }
    }
}