.font-style-0 {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.83px;
}

.font-style-1 {
    font-size: 12px;
    font-weight: 400;
    line-height: 15.62px;
}

.font-style-2 {
    font-size: 15px;
    font-weight: 400;
    line-height: 19.53px;
}

.font-style-3 {
    font-size: 18px;
    font-weight: 400;
    line-height: 23.44px;
}

.font-style-4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 23.44px;
}

.font-style-5 {
    font-size: 18px;
    font-weight: 700;
    line-height: 23.44px;
}

.font-style-6 {
    font-size: 22px;
    font-weight: 700;
    line-height: 28.64px;
}

.font-style-7 {
    font-size: 24px;
    font-weight: 700;
    line-height: 31.25px;
}

.font-style-8 {
    font-size: 32px;
    font-weight: 700;
    line-height: 41.66px;
}

.font-style-9 {
    font-size: 48px;
    font-weight: 700;
    line-height: 62.5px;
}

.font-style-10 {
    font-size: 88px;
    font-weight: 700;
    line-height: 114.58px;
}

// Mobile:
.font-style-m1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 83.33px;
}

.font-style-m2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52.08px;
}

.font-style-m3 {
    font-size: 32px;
    font-weight: 700;
    line-height: 41.66px;
}

.font-style-m4 {
    font-size: 20px;
    font-weight: 700;
    line-height: 26.04px;
}

.font-style-m5 {
    font-size: 20px;
    font-weight: 500;
    line-height: 26.04px;
}

.font-style-m6 {
    font-size: 18px;
    font-weight: 700;
    line-height: 23.44px;
}

.font-style-m7 {
    font-size: 18px;
    font-weight: 500;
    line-height: 23.44px;
}

.font-style-m8 {
    font-size: 15px;
    font-weight: 400;
    line-height: 19.53px;
}