<app-header [type]="'login'"></app-header>

<form (ngSubmit)="onSubmit(loginForm)" #loginForm="ngForm" class="content">
    <h2>Log in</h2>
    <div class="input-style-sec">
        <input #email="ngModel" type="email" name="email" placeholder="E-mail address" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required ngModel>
    </div>
    <div class="input-style-sec password-container">
        <input #password="ngModel" [type]="isPasswordVisible ? 'text' : 'password'" name="password" placeholder="Password" minlength="6" required ngModel>
        <img (mousedown)="showPassword(true)" (mouseup)="showPassword(false)" (mouseleave)="showPassword(false)" [src]="isPasswordVisible ? 'icon/visibility.png' : 'icon/visibility-off.png'" alt="visibility">
    </div>
    <div class="remember-me-container">
        <label class="custom-checkbox">
            <input type="checkbox" name="checkbox" #checkbox ngModel>
            <span></span>
        </label>
        <span>Remember me</span>
    </div>
    <input [disabled]="!email.valid || !password.valid" class="btn-prim" type="submit" name="submit" value="Log in">
    <a class="forgot-password" routerLink="/">Forgot password?</a>
    <div class="signup-container">
        <span>New to Videoflix?</span>
        <a routerLink="/signup">Sign up now</a>
    </div>
</form>

@if (toastErrorSerivce.toastError()) {
    <app-toast-error [msg]="toastErrorMsg"></app-toast-error>
}

<app-footer></app-footer>