@use '../../../styles/layout';
@use '../../../styles/color';
@use '../../../styles/typography';
@use '../../../styles/helper';

:host {
    @extend .host;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.8)), url('../../../../public/img/background_1.jpg');
}

h2 {
    color: color.$main-color;
}

.input-style-sec {
    margin-top: 32px;
}

.remember-me-container {
    @extend .dF-jc-flex-start;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 32px;

    > span {
        color: black;
    }
}

.custom-checkbox {
    @extend .dF-row-cc;
    cursor: pointer;

    > input {
        display: none;
    }

    > span {
        width: 12px;
        height: 12px;
        border: 1px solid color.$main-color;
        border-radius: 3px;
        display: inline-block;
        position: relative;
        margin-right: 6px;
    }
}

.custom-checkbox input:checked + span::after {
    content: '✔';
    font-size: 14px;
    color: color.$main-color;
    text-align: center;
    line-height: 1;
    position: absolute;
    left: -1px;
    top: -2px;
    width: 12px;
    height: 12px;
}

.forgot-password {
    @extend .font-style-5;
    color: color.$main-color;
    margin-top: 16px;
    margin-bottom: 16px;

    &:hover {
        color: color.$logo-purple;
    }
}

.signup-container {
    @extend .dF-row-cc;
    gap: 24px;

    > span {
        @extend .font-style-4;
        color: black;
    }

    > a {
        @extend .font-style-5;
        color: color.$main-color;

        &:hover {
            color: color.$logo-purple;
        }
    }
}

// ---------- Responsive Design ---------- //
@media (max-width: 432px) {
    .signup-container {
        gap: 12px;

        > span, > a {
            font-size: 16px;
            line-height: 20.83px;
        }
    }

    .forgot-password {
        font-size: 16px;
        line-height: 20.83px;
    }
}