@use '../../../styles/layout';
@use '../../../styles/animation';
@use '../../../styles/color';
@use '../../../styles/typography';

:host {
    @extend .dF-row-cc;
    height: 100vh;
    height: 100svh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 1)), url('../../../../public/img/background_1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.content {
    @extend .dF-column-cc;
    background-color: white;
    border-radius: 48px;
    padding: 43px 56px;
    width: 520px;
}

h2 {
    color: color.$main-color;
}

.input-style-sec {
    margin-top: 32px;
}

.password-container {
    gap: 16px;

    > img {
        cursor: pointer;
    }
}

.remember-me-container {
    @extend .dF-jc-flex-start;
    width: 100%;
    margin-top: 16px;
    margin-bottom: 32px;

    > span {
        color: black;
    }
}

.custom-checkbox {
    @extend .dF-row-cc;
    cursor: pointer;

    > input {
        display: none;
    }

    > span {
        width: 12px;
        height: 12px;
        border: 1px solid color.$main-color;
        border-radius: 3px;
        display: inline-block;
        position: relative;
        margin-right: 6px;
    }
}

.custom-checkbox input:checked + span::after {
    content: '✔';
    font-size: 14px;
    color: color.$main-color;
    text-align: center;
    line-height: 1;
    position: absolute;
    left: -1px;
    top: -2px;
    width: 12px;
    height: 12px;
}

.forgot-password {
    @extend .font-style-5;
    color: color.$main-color;
    margin-top: 16px;
    margin-bottom: 16px;

    &:hover {
        color: color.$logo-purple;
    }
}

.signup-container {
    @extend .dF-row-cc;
    gap: 24px;

    > span {
        @extend .font-style-4;
        color: black;
    }

    > a {
        @extend .font-style-5;
        color: color.$main-color;

        &:hover {
            color: color.$logo-purple;
        }
    }
}