<app-header></app-header>

<form (ngSubmit)="onSubmit(resetPasswordForm)" #resetPasswordForm="ngForm" class="form">
    <h2>Reset password</h2>
    <p class="text">Create a new password for your <span>Videoflix</span> account.</p>
    <div class="input-style-sec password-container">
        <input #password="ngModel" [type]="isPasswordVisible ? 'text' : 'password'" name="password" placeholder="Enter a password" minlength="6" required ngModel>
        <img (mousedown)="showPassword('password', true)" (mouseup)="showPassword('password', false)" (mouseleave)="showPassword('password', false)" [src]="isPasswordVisible ? 'icon/visibility.png' : 'icon/visibility-off.png'" alt="visibility">
    </div>
    <div class="input-style-sec password-container">
        <input #passwordRepeat="ngModel" [type]="isPasswordRepeatVisible ? 'text' : 'password'" name="passwordRepeat" placeholder="Confirm password" minlength="6" required ngModel>
        <img (mousedown)="showPassword('passwordRepeat', true)" (mouseup)="showPassword('passwordRepeat', false)" (mouseleave)="showPassword('passwordRepeat', false)" [src]="isPasswordRepeatVisible ? 'icon/visibility.png' : 'icon/visibility-off.png'" alt="visibility">
    </div>
    <input [disabled]="password.invalid || passwordRepeat.invalid" class="btn-prim" type="submit" name="submit" value="Reset my password">
</form>

@if (toastMsgService.toastState() != 'unset') {
    <app-toast-msg></app-toast-msg>
}

<app-footer></app-footer>

