@use '../../../styles/layout';
@use '../../../styles/color';
@use '../../../styles/typography';

:host {
    @extend .dF-row-cc;
    height: 100vh;
    height: 100svh;
    width: 100%;
    background-color: color.$background-black;
    position: relative;
}

.content {
    @extend .dF-column-jc-flex-start;
    width: 100%;
    height: 100%;
}

.content-wrapper {
    width: 100%;
    padding: 0 calc((100% - 1920px) / 2);
}

.video-preview {
    @extend .dF-jc-flex-start;
    height: 55%;
    background-image: linear-gradient(rgba(20, 20, 20, 0.6), rgba(20, 20, 20, 0), rgba(20, 20, 20, 1.0)), url('../../../../public/img/video-preview.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.video-description {
    @extend .dF-column-ai-flex-start;
    width: 440px;
    gap: 32px;
}

.btn-play {
    @extend .dF-row-cc;
    gap: 4px;

    > span {
        @extend .font-style-5;
    }
}

.video-content {
    @extend .dF-column-ai-flex-start;
    height: 55%;
    gap: 48px;
}

.video-genre {
    @extend .dF-column-ai-flex-start;
    width: 100%;
    gap: 16px;
}

.video-container {
    @extend .dF-jc-flex-start;
    width: 100%;
    gap: 16px;
}