<app-header [type]="'video-offer'"></app-header>

<div class="content">
    <div class="video-preview content-wrapper">
        <div class="video-description">
            <h1>Breakout</h1>
            <p>In a high-security prison, a wrongly convicted man formulates a meticulous plan to break out and prove his innocence. He must navigate a web of alliances and betrayals to reclaim his freedom and expose the truth.</p>
            <button class="btn-prim btn-play">
                <img src="icon/play.png" alt="play">
                <span>Play</span>
            </button>
        </div>
    </div>
    <div class="video-content content-wrapper">

    </div>
</div>

<app-footer [type]="'video-offer'"></app-footer>