@use '../../../styles/layout';
@use '../../../styles/color';
@use '../../../styles/typography';

:host {
    @extend .dF-row-cc;
    height: 100vh;
    height: 100svh;
    width: 100%;
    background-color: color.$background-black;
    position: relative;
}

.content {
    @extend .dF-column-jc-flex-start;
    width: 100%;
    height: 100%;
    position: relative;
}

.content-wrapper {
    width: 100%;
    padding: 0 calc((100% - 1920px) / 2);
}

.video-preview-mobile {
    width: 100%;
    flex: 1;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.video-preview {
    @extend .dF-flex-start;
    height: 60%;
    padding-top: 140px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.video-description {
    @extend .dF-column-ai-flex-start;
    width: 100%;
    gap: 32px;

    > p {
        width: 440px;
    }
}

.btn-play {
    @extend .dF-row-cc;
    gap: 4px;

    > span {
        @extend .font-style-5;
    }
}

.video-content {
    @extend .dF-column-flex-start;
    height: 50%;
    gap: 48px;
    padding-bottom: 48px;
    overflow-y: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.video-genre {
    @extend .dF-column-ai-flex-start;
    width: 100%;
    gap: 16px;
}

.video-container {
    @extend .dF-jc-flex-start;
    width: 100%;
    height: 130px;
    gap: 16px;
    overflow-x: auto;
    overflow-y: hidden;
}

.thumbnail {
    height: 120px;
    width: 214px;
    transition: all 225ms ease-out;

    &:hover {
        cursor: pointer;
        filter: drop-shadow(0px 0px 4px white) brightness(1.2);
    }
}

// ---------- Responsive Design ---------- //
@media (max-width: 1952px) {
    .content-wrapper {
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media (max-width: 1025px) {
    .video-preview {
        height: 100%;
        padding: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .video-description {
        min-height: 50%;
        padding: 0 16px;
        justify-content: flex-start;

        > p {
            width: 100%;
        }
    }

    .video-content {
        position: unset;
        margin-top: 140px;
        gap: 32px;
        height: 100%;
    }

    h5 {
        font-size: 20px;
        line-height: 26.04px;
    }

    .video-container {
        height: 110px;
        gap: 12px;
    }

    .thumbnail {
        width: 170.5px;
        height: 96px;
    }
}

@media (max-height: 1000px) and (min-width: 1025px) {
    .video-preview {
        padding-top: 70px;
    }
}