@use '../../../styles/layout';
@use '../../../styles/color';

:host {
    @extend .dF-row-cc;
    min-height: 100vh;
    min-height: 100svh;
    width: 100%;
    background-color: color.$background-black;
}