@use '../../../styles/layout';
@use '../../../styles/color';
@use '../../../styles/helper';

:host {
    @extend .host;
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.8)), url('../../../../public/img/background_2.jpg');
}

.form {
    gap: 32px;
}

h2 {
    color: color.$main-color;
}
