<div #videoContainer class="video-container">
    <div class="mobile-header">
        <div class="logo-title-container">
            <img class="mobile-logo" src="img/logo.png" alt="logo">
            <span class="mobile-title">Majestic whales</span>
        </div>
        <svg class="mobile-header-close" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <mask id="mask0_79_338" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="32" height="32">
                <rect width="32" height="32" fill="#D9D9D9"/>
            </mask>
            <g mask="url(#mask0_79_338)">
                <path d="M16 17.4001L10.7 22.7001C10.5 22.9001 10.2667 23.0001 10 23.0001C9.73333 23.0001 9.5 22.9001 9.3 22.7001C9.1 22.5001 9 22.2668 9 22.0001C9 21.7334 9.1 21.5001 9.3 21.3001L14.6 16.0001L9.3 10.7334C9.1 10.5334 9 10.3001 9 10.0334C9 9.76678 9.1 9.53345 9.3 9.33345C9.5 9.13345 9.73333 9.03345 10 9.03345C10.2667 9.03345 10.5 9.13345 10.7 9.33345L16 14.6334L21.2667 9.33345C21.4444 9.13345 21.6722 9.03345 21.95 9.03345C22.2278 9.03345 22.4667 9.13345 22.6667 9.33345C22.8667 9.53345 22.9667 9.76678 22.9667 10.0334C22.9667 10.3001 22.8667 10.5334 22.6667 10.7334L17.3667 16.0001L22.6667 21.3001C22.8667 21.5001 22.9667 21.7334 22.9667 22.0001C22.9667 22.2668 22.8667 22.5001 22.6667 22.7001C22.4667 22.9001 22.2333 23.0001 21.9667 23.0001C21.7 23.0001 21.4667 22.9001 21.2667 22.7001L16 17.4001Z" fill="white"/>
            </g>
        </svg>
    </div>

    <video (click)="togglePlay()" #videoPlayer class="vjs-custom-style video-js"></video>

    <div class="custom-controls" (click)="showVideoFormatOverlay($event, false)">
        <div class="progress-bar">
            <div class="progress-bar-track" #progressBar (click)="setVideoProgress($event)">
                <div class="progress-bar-track-loaded" [style.width]="videoBuffered + '%'"></div>
                <div class="progress-bar-thumb" [style.left]="videoProgress + '%'"></div>
            </div>
            <div class="progress-time">{{ videoDuration }}</div>
        </div>
        <div class="controls">
            <div class="controls-left">
                <span (click)="togglePlay()" [ngClass]="player.paused() ? 'vjs-icon-play' : 'vjs-icon-pause'"></span>
                <img (click)="rewind()" src="icon/replay_10.png" alt="replay_10">
                <img (click)="fastForward()" src="icon/forward_10.png" alt="forward_10">
                <div class="volume-container">
                    <span (click)="toggleMute()" class="volume-icon" [ngClass]="getVolumeIcon()"></span>
                    <input class="volume-track" type="range" name="volume" min="0" max="100" step="5" [value]="(player.volume() || 0) * 100" (input)="setVolume($event)">
                </div>
            </div>
            <div class="controls-middle">
                <span>{{ videoService.currentVideoTitle() }}</span>
            </div>
            <div class="controls-right">
                <div class="video-format-container">
                    <img (click)="showVideoFormatOverlay($event)" class="format-icon" src="icon/format.png" alt="video-format">
                    <span class="mobile-format-text">Speed</span>
                    @if (showVideoFormat) {
                        <div class="format-overlay" (click)="$event.stopPropagation();">
                            <span (click)="selectVideoFormat('120p')" [ngClass]="{'highlighted-format': videoService.currentVideoFormat() == '120p'}">120p</span>
                            <span (click)="selectVideoFormat('360p')" [ngClass]="{'highlighted-format': videoService.currentVideoFormat() == '360p'}">360p</span>
                            <span (click)="selectVideoFormat('720p')" [ngClass]="{'highlighted-format': videoService.currentVideoFormat() == '720p'}">720p</span>
                            <span (click)="selectVideoFormat('1080p')" [ngClass]="{'highlighted-format': videoService.currentVideoFormat() == '1080p'}">1080p</span>
                        </div>
                    }
                </div>
                <span (click)="toggleFullscreen()" [ngClass]="isFullscreen ? 'vjs-icon-fullscreen-exit' : 'vjs-icon-fullscreen-enter'"></span>
            </div>
        </div>
    </div>

    @if (player.paused()) {
        <div class="mobile-controls">
            <img (click)="rewind()" src="icon/replay_10.png" alt="replay_10">
            <span (click)="togglePlay()" [ngClass]="player.paused() ? 'vjs-icon-play' : 'vjs-icon-pause'"></span>
            <img (click)="fastForward()" src="icon/forward_10.png" alt="forward_10">
        </div>
    }

    @if (toastMsgService.toastState() != 'unset') {
        <app-toast-msg></app-toast-msg>
    }
</div>
