<div #videoContainer class="video-container">
    <video (click)="togglePlay()" #videoPlayer class="vjs-custom-style video-js" controls muted playsinline preload="none"></video>

    <div class="custom-controls">
        <div class="progress-bar">
            <div class="progress-bar-track">
                <div class="progress-bar-track-loaded"></div>
                <div class="progress-bar-thumb"></div>
            </div>
            <div class="progress-time">1:00:00</div>
        </div>
        <div class="controls">
            <div class="controls-left">
                <span (click)="togglePlay()" [ngClass]="player.paused() ? 'vjs-icon-play' : 'vjs-icon-pause'"></span>
                <img (click)="rewind()" src="icon/replay_10.png" alt="replay_10">
                <img (click)="fastForward()" src="icon/forward_10.png" alt="forward_10">
                <span (click)="toggleMute()" [ngClass]="player.muted() ? 'vjs-icon-volume-mute' : 'vjs-icon-volume-high'"></span>
            </div>
            <div class="controls-middle">
                <span>Majestic whales</span>
            </div>
            <div class="controls-right">
                <img src="icon/speed.png" alt="speed">
                <span (click)="toggleFullscreen()" [ngClass]="isFullscreen ? 'vjs-icon-fullscreen-exit' : 'vjs-icon-fullscreen-enter'"></span>
            </div>
        </div>
    </div>    
</div>
