@use '../../../../styles/layout';
@use '../../../../styles/color';
@use '../../../../styles/typography';

:host {
    @extend .dF-row-cc;
    height: 100%;
    width: 100%;
    background-color: color.$background-black;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}

.video-container {
    @extend .dF-column-cc;
    width: 100%;
    height: auto;
    position: relative;
}

.mobile-header {
    @extend .dF-jc-space-between;
    width: 100%;
    height: 50px;
    padding: 0 16px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
}

.logo-title-container {
    @extend .dF-row-cc;
    gap: 12px;
}

.mobile-logo {
    height: 32px;
}

.mobile-title {
    @extend .font-style-m5;
}

.mobile-header-close:hover {
    cursor: pointer;
    
    path {
        transition: all 150ms ease-in-out;
        fill: color.$logo-purple
    }
}

.custom-controls {
    @extend .dF-column-cc;
    gap: 16px;
    padding: 10px 16px 28px 16px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.video-container:fullscreen .custom-controls,
.video-container:-webkit-full-screen .custom-controls {
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  z-index: 10;
}

.custom-controls .progress-bar {
    @extend .dF-row-cc;
    gap: 12px;
    width: 100%;
    max-width: 1920px;

    &:hover > .progress-bar-track {
        filter: drop-shadow(0px 0px 4px white);
    }
}

.custom-controls .progress-bar-track {
    @extend .dF-row-cc;
    flex: 1;
    height: 4px;
    background-color: color.$video-progressbar-track;
    position: relative;

    &:hover {
        cursor: pointer;
    }
}

.custom-controls .progress-bar-track-loaded {
    height: 4px;
    background-color: color.$video-progressbar-loaded;
    position: absolute;
    top: 0;
    left: 0;
}

.custom-controls .progress-bar-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: color.$main-color;
    position: absolute;
    top: -4px;
}

.custom-controls .progress-time {
    @extend .dF-row-cc;
    @extend .font-style-1;
    line-height: 1;
    color: color.$video-progressbar-loaded;
    width: 60px;
}

.custom-controls .controls {
    @extend .dF-jc-space-between;
    width: 100%;
    max-width: 1920px;

    span {
        font-size: 48px;
        line-height: 1;
    }

    img {
        height: 48px;
        width: 48px;
    }
}

.custom-controls .controls-left {
    @extend .dF-jc-flex-start;

    > span:hover, > img:hover {
        cursor: pointer;
        filter: drop-shadow(0px 0px 6px white);
    }
}

.custom-controls .controls-right {
    @extend .dF-jc-flex-end;

    span:hover, img:hover {
        cursor: pointer;
        filter: drop-shadow(0px 0px 6px white);
    }
}

.custom-controls .controls-left, .custom-controls .controls-right {
    gap: 24px;
    flex: 1;
}

.custom-controls .volume-container {
    @extend .dF-row-cc;
    gap: 8px;

    &:hover > .volume-track {
        display: flex;
    }
}

.custom-controls .volume-icon:hover {
    cursor: pointer;
    filter: drop-shadow(0px 0px 6px white);
}

.custom-controls .volume-track {
    display: none;
    width: 150px;

    &:hover {
        filter: drop-shadow(0px 0px 2px white);
    }
}

.custom-controls .volume-track::-webkit-slider-runnable-track {  /* Chrome, Safari, Opera, and Edge Chromium */
    background: color.$video-progressbar-track;
    height: 10px;
    border-radius: 5px;
}

.custom-controls .volume-track::-webkit-slider-thumb {  /* Chrome, Safari, Opera, and Edge Chromium */
    -webkit-appearance: none;
    appearance: none;
    background-color: color.$main-color;
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.custom-controls .volume-track::-moz-range-track {  /* Firefox */
    background: color.$video-progressbar-track;
    height: 10px;
    border-radius: 5px;
}

.custom-controls .volume-track::-moz-range-thumb {  /* Firefox */
    background-color: color.$main-color;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    border: none;
}

.custom-controls .controls-middle {
    > span {
        font-size: 24px;
        font-weight: 700;
        line-height: 31.25px;
    }
}

.custom-controls .video-format-container {
    @extend .dF-row-cc;
    gap: 4px;
    position: relative;

    .mobile-format-text {
        @extend .font-style-1;
        display: none;

        &:hover {
            filter: unset;
            cursor: unset;
        }
    }
}

.custom-controls .format-overlay {
    @extend .dF-column-jc-flex-end;
    position: absolute;
    bottom: 50px;
    left: -25px;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 16px;
    border-radius: 16px;

    > span {
        width: 100%;
        font-size: 18px;
        line-height: 1;
        padding: 8px;
        text-align: center;
        border-radius: 8px;
    }
}

.highlighted-format {
    background-color: black;
    color: color.$logo-purple;
}

.mobile-controls {
    @extend .dF-row-cc;
    gap: 104px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    display: none;

    > span {
        font-size: 48px;
        line-height: 1;
    }

    > *:hover {
        cursor: pointer;
        filter: drop-shadow(0px 0px 6px white);
    }
}

// ---------- Responsive Design ---------- //
@media (max-width: 1025px) {
    .mobile-header {
        display: flex;
    }

    .custom-controls {
        .controls-middle, .controls-left {
            display: none;
        }

        .controls {
            justify-content: center;
        }

        .controls-right {
            justify-content: center;

            > span {
                display: none;
            }

            .format-icon {
                height: 32px;
                width: 32px;                
            }

            .mobile-format-text {
                display: block;
            }
        }
    }

    .mobile-controls {
        display: flex;
    }
}