<video #target class="vjs-custom-style video-js" controls muted playsinline preload="none"></video>

<div class="custom-controls">
    <div class="progress-bar"></div>
    <div class="controls">
        <div class="controls-left">
            <span class="vjs-icon-play"></span>
            <img src="icon/replay_10.png" alt="replay_10">
            <img src="icon/forward_10.png" alt="forward_10">
            <span class="vjs-icon-volume-mute"></span>
        </div>
        <div class="controls-middle">
            <span>Majestic whales</span>
        </div>
        <div class="controls-right">
            <img src="icon/speed.png" alt="speed">
            <span class="vjs-icon-fullscreen-enter"></span>
        </div>
    </div>
</div>
