@use '../../../../styles/layout';
@use '../../../../styles/color';
@use '../../../../styles/typography';

:host {
    @extend .dF-row-cc;
    height: 100%;
    width: 100%;
}

.video-container {
    @extend .dF-column-cc;
    width: 100%;
    height: auto;
    position: relative;
}

.custom-controls {
    @extend .dF-column-cc;
    gap: 16px;
    padding-bottom: 28px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.custom-controls .progress-bar {
    @extend .dF-row-cc;
    gap: 12px;
    width: 100%;
    max-width: 1920px;
}

.custom-controls .progress-bar-track {
    @extend .dF-row-cc;
    flex: 1;
    height: 4px;
    background-color: color.$video-progressbar-track;
    position: relative;
}

.custom-controls .progress-bar-track-loaded {
    height: 4px;
    width: 100px;   /* tbd. calc */
    background-color: color.$video-progressbar-loaded;
    position: absolute;
    top: 0;
    left: 0;        /* tbd. calc */
}

.custom-controls .progress-bar-thumb {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: color.$main-color;
    position: absolute;
    top: -4px;
    left: 0;        /* tbd. calc */
}

.custom-controls .progress-time {
    @extend .dF-row-cc;
    @extend .font-style-1;
    line-height: 1;
    color: color.$video-progressbar-loaded;
    width: 60px;
}

.custom-controls .controls {
    @extend .dF-jc-space-between;
    width: 100%;
    max-width: 1920px;

    span {
        font-size: 48px;
        line-height: 1;
    }

    img {
        height: 48px;
        width: 48px;
    }
}

.custom-controls .controls-left, .custom-controls .controls-right {
    @extend .dF-row-cc;
    gap: 24px;

    > *:hover {
        cursor: pointer;
        filter: drop-shadow(0px 0px 6px white);
    }
}

.custom-controls .controls-middle {
    > span {
        font-size: 24px;
        font-weight: 700;
        line-height: 31.25px;
    }
}

.video-container:fullscreen .custom-controls,
.video-container:-webkit-full-screen .custom-controls { /* Safari */
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  z-index: 10;
}
