@use '../../../styles/color';
@use '../../../styles/layout';
@use '../../../styles/animation';

:host {
    position: absolute;
    bottom: 80px;
    left: 0;
    z-index: 5;
    @extend .fade-in;
}

.content {
    @extend .dF-jc-flex-start;
    width: 540px;
    height: 80px;
    background-color: color.$main-color;
    border-radius: 20px;
    padding-right: 32px;
}

.rectangle-red {
    background-color: color.$error-red;
    width: 22px;
    height: 100%;
    border-radius: 20px 0 0 20px;
}

.inner-content {
    @extend .dF-jc-flex-start;
    flex: 1;
    gap: 16px;
    margin-left: 10px;

    > p {
        flex: 1;
    }
}

.separator {
    width: 1px;
    height: 32px;
    background-color: white;
}

.icon-close {
    cursor: pointer;
}