@use 'styles/font';
@use 'styles/typography';
@use 'styles/color';
@use 'styles/helper';
@use 'styles/layout';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    @extend .font-style-0;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    @extend .font-style-10;
}

h2 {
    @extend .font-style-9;
}

h3 {
    @extend .font-style-8;
}