@use 'styles/font';
@use 'styles/typography';
@use 'styles/color';
@use 'styles/helper';
@use 'styles/layout';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    @extend .font-style-0;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-y: auto;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: color 150ms ease-in-out;

    &:hover {
        color: color.$logo-purple;
    }
}

h1 {
    @extend .font-style-10;
}

h2 {
    @extend .font-style-9;
}

h3 {
    @extend .font-style-8;
}

h4 {
    @extend .font-style-7;
}

h5 {
    @extend .font-style-6;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: color.$logo-purple;
    border-radius: 4px;
}

// ---------- Responsive Design ---------- //
@media (max-width: 700px) {
    h2 {
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
    }
}