@use '../../../styles/layout';
@use '../../../styles/animation';
@use '../../../styles/helper';

:host {
    @extend .host;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 1)), url('../../../../public/img/startpage.jpg');
    overflow-y: hidden;
}

.content {
    @extend .dF-column-cc;
}

.description {
    margin-top: 24px;
    margin-bottom: 32px;
}

.input-container {
    @extend .dF-row-cc;
    gap: 16px;
}

// ---------- Responsive Design ---------- //
@media (max-width: 700px) {
  .content {
    width: 100%;
    padding: 0 16px;
    
    > * {
        text-align: center;
    }
  }

  .input-container {
    flex-direction: column;
  }
}

@media (max-width: 392px) {
    .input-container, .input-style-prim {
        width: 100%;
    }
}